body {
	background: oldlace;
	margin: 0;
}
.review-section {
	background: #fff;
	padding: 3rem 0;
}
.review-section h2 {
	text-align: center;
	letter-spacing: 0.5rem;
}
.review-section ul {
	max-width: 1000px;
	list-style-type: none;
	margin: 2rem auto;
	padding: 0 1.5rem;
}
.review-section li {
	display: grid;
	grid-template-columns: 100px 1fr 100px;
	gap: 1.5rem;
	border-top: 1px solid #ccc;
	padding: 1rem 0;
}
.review-section li:last-child {
	border-bottom: 1px solid #ccc;
}
.review-section .user,
.review-section .item {
	max-width: 100%;
}
.review-section .user {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	border: solid 1px #eee;
}
.review-area {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}
.review-area p {
	margin: 0;
}
.review-area .name,
.review-area .date,
.review-section a {
	font-size: 0.8rem;
}
.review-area .star5:before {
	content: '★★★★★';
	font-size: 1.2rem;
	background: #cda85a;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
.review-area .star4-5:before {
	content: '★★★★★';
	font-size: 1.2rem;
	background: linear-gradient(to right, #cda85a 90%, #d9d9d9 91%);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
.review-area .star4:before {
	content: '★★★★★';
	font-size: 1.2rem;
	background: linear-gradient(to right, #cda85a 80%, #d9d9d9 81%);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
.review-area .star3-5:before {
	content: '★★★★★';
	font-size: 1.2rem;
	background: linear-gradient(to right, #cda85a 70%, #d9d9d9 71%);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
.review-area .star3:before {
	content: '★★★★★';
	font-size: 1.2rem;
	background: linear-gradient(to right, #cda85a 60%, #d9d9d9 61%);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
.review-area .comment {
	text-align: justify;
	position: relative;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.review-section a {
	text-align: center;
}
@media (max-width: 600px) {
	.review-section li {
		display: block;
	}
	.review-section .user,
	.review-section .item {
		display: none;
	}
	.review-area {
		margin-bottom: 0.5rem;
	}
	.review-section a {
		font-size: inherit;
	}
}
